<h1>Sign in!</h1>

<form action="/signin" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="" id="username">
  <button name="button">Sign in</button>
</form>
