<section>
  <article class='shirt'>
    <header>
      <a href="/shirts/<%= @shirt.id %>"><%= @shirt.name %></a>
    </header>
    <img src="<%= @shirt.image_url %>" alt="<%= @shirt.name %>" />
  </article>
</section>
