<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Shracker</h1>
  <h2>Getcha Shrack On</h2>

  <% if logged_in? %>
    Welcome back, <%= current_user.username %>
  <% else %>
    <a href="/signin">Sign In</a> | <a href="/signup">Sign up</a>
  <% end %>

  <ul>
    <li><a href="/shirts">See all the shirts</a></li>
  </ul>
  <% if session[:last_seen] %>
    It looks like you checked out <%= recent.name %> <a href="/shirts/<%= recent.id %>">Buy it now</a>
  <% end %>

  <%= yield %>

</body>
</html>
